@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=PT+Sans+Narrow:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// font-family: 'Cabin Sketch', cursive;
// font-family: 'PT Sans', sans-serif;
// font-family: 'PT Sans Narrow', sans-serif;

* {
    font-family: 'PT Sans', sans-serif;
}

.posts {
    list-style-type: none;
    margin: 0;

}

.post {
    margin: 1rem 0;
    background: #f4f4f4;

    a {
        
        color: black;
        text-decoration: none;
        display: block;
        padding: 1rem;
    }
    a:hover {
        color: #ec8ed8
    }

    h2 {
        margin-bottom: 0;
    }

    p {
        color: #777777;
        font-size: .8rem;
        font-style: italic;
    }
}